<section class="home-section">
    <h1>Search a Movie</h1>
    <form action="/movie_details" method="get"> 
        <input name="title" type="text"> 
        <button>Search</button>
    </form>
</section>

